<div class='col-md-6'>

 <img class='bigimage' src= '<%= @product.image_url %>'>

</div>

<div class='col-md-6'>
   <p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

    <p>
  <strong>Shop url:</strong>
  <%= @product.shop_url %>
</p>

 <p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
</div>

<p id="notice"><%= notice %></p>









<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>